
/* colours
(#5E0525), (#740025), (#CE0027), (#FC7C3D), (#EAAE4E);
/*
/* fonts 
font-family: 'Cormorant Garamond', serif;
font-family: 'Open Sans', sans-serif;
*/ 

body {
   background-color: #740025;
    color: white;
}

.intro {
    background-color: black;
    padding: 5%;
    text-align: center;
    border-style: dotted;
    border-color: #EAAE4E;
    }
    
div h2 {
    column-span: all;
}

header {
    background-color: #740025;
    padding: 1em 3em;
    color: #FC7C3D;
    font-family: 'Cormorant Garamond', serif;
}


h2 {
    margin: 1em;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.cvpage {
    column-count: 2;
    column-gap: 1em;
    column-rule-style: solid;
    column-rule-width: 5px;
    column-rule-color: black;
    grid-area: main;
    background-color: #FC7C3D;
    color: black;
    border: #EAAE4E;
    padding: 5%;
    border-style: solid;
  }
  
 