body {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

nav {
    grid-area: nav;
    font-family: 'Open Sans', sans-serif;
}

header {
grid-area: header;
}

main{
    grid-area: main;
}
/* topnav {
    background-color: #740025;
    grid-area:topnav;
} */




li {
    list-style-type: none;
    color: white;
    border: 0.1;
    border-style: solid;
    border-color: #EAAE4E;
    padding: 0.5em;
    font-size: 2em;
    margin: 0.5em;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
}
.shownav {
    height: 0.8em;
    width: 1.25em;
    display:block;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    border-radius: 0.2em;

    }
    
    .shownav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    top: 8.1em;
    left: 0.5em;
    border-top: 0.2em solid black;
    }

 

#menu ul .on {
        display: block;
        background-color: black;
        color: white;
        position: fixed;
        top: 0;
        right: 50%;
        width: 50%;
        height: 100vh;
    }

#menu ul .off
{
    display: none;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
} 

#menu
 {
    display: none;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
} 

#menu:target
{
    display: block;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100vh;
}

.off {
    list-style-type: none;
    color: white;
    font-size: 2em;
    border-style:solid;
    padding: 0.3em;
    border-radius: 50%;
    border-color:  #EAAE4E;
    text-decoration: none;
}

    .newspaper {
        column-count: 1;
        column-gap: 1em;
        column-rule-width: 5px;
        column-rule-color: #EAAE4E;
        text-align: center;
    }
    
    .newspaper img {
    width: 220px;
    height: 140px;
    border-style: solid;
    border-width: 0.4em;
    border-color: black;
    }
    .mainform {
        padding: 5%;
        text-align: left;
        border-style: solid;
        border-color: black;
        box-shadow: #EAAE4E;
        font-family: 'Open Sans', sans-serif;
        background-color:#FC7C3D;
        color: black;
        }
    
    form {
        display:grid;
        width: 400px;
        grid-template-columns: 50% 50%;
        align-items: centre;
        grid-gap: 0.5em;
        }


    footer{
        grid-area: footer;
        background-color: #EAAE4E;
    }